extends layout

block content
  h1= title
  - let Gadgetsid = toShow._id
  - let gadget_name = toShow.gadget_name
  - let brand = toShow.brand
  - let battery_life = toShow.battery_life

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{Gadgetsid}
  - let actionid = "/resource/Gadgets/" + Gadgetsid
  form(id='GadgetsForm', action=actionid, method="PUT")
    div.form-group
      label.costumeAttr(for='gadget_name') Gadgets name
      input#gadget_name(type='text', name='gadget_name', value=gadget_name)
    div.form-group
      label.GadgetsAttr(for='brand') Gadgets brand
      input#brand(type='text', name='brand', value=brand)
    div.form-group
      label.GadgetsAttr(for='battery_life') Gadgets battery life
      input#battery_life(type='number', name='battery_life', value=battery_life)
    input(type="submit")
  script.
    document.forms['GadgetsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
