extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let Gadgetsid = toShow._id
    - let gadget_name = toShow.gadget_name
    - let brand = toShow.brand
    - let battery_life = toShow.battery_life
    - let actionid = "/resource/Gadgets/" + Gadgetsid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='GadgetsAttr mr-3') Gadgets ID is:
        div #{Gadgetsid}
      div.row
        div(class='GadgetsAttr mr-3') Gadgets name is:
        div #{gadget_name}
      div.row
        div(class='GadgetsAttr mr-3') Gadgets brand is:
        div #{brand}
      div.row
        div(class='GadgetsAttr mr-3') Gadgets battery life is:
        div #{battery_life}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
      // Go back to the home page for the Gadgets collection
      window.location.href='/Gadgets'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE' // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/Gadgets'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
